<h2 class="contacts-page-heading">Contacts</h2>
<section class="contacts">
    <a href="https://www.linkedin.com/in/alexander-martinov-b2372821a/" class="creator-linkedIn-link"><i class="fa-brands fa-linkedin"></i> LinekdIn: Alexander Martinov</a>
    <a href="https://github.com/Martinoww" class="creator-gitHub-link"><i class="fa-brands fa-github"></i> gitHub: Martinoww</a>
    <a href="#" class="creator-email-link"><i class="fa-solid fa-envelope"></i> G-mail: martinoww88@gmail.com</a>
    <a href="#" class="creator-phone-number"><i class="fa-solid fa-mobile-button"></i> phone number: 0898764683</a>
</section>