<h2 class="register-page-heading">Register</h2>
<form class="register-form" action="">
    <input class="register-form-username" type="text" name="Username" id="username" placeholder="Username">
    <input class="register-form-password" type="password" name="password" id="password" placeholder="Password">
    <input class="register-form-confirm-password" type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
    <button class="register-form-btn" type="submit">Register</button>
    <p class="register-form-paragraph">Already have an account?<a routerLink="/login">Login</a></p>
</form>