.register-page-heading {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 13rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 38%;
  margin: 4rem auto;
  padding: 3rem 0 2rem;
  background: white;
  border: none;
  border-radius: 8px;
  align-items: center;
}

.register-form .register-form-username,
.register-form .register-form-email,
.register-form .register-form-password,
.register-form .register-form-confirm-password {
  margin-bottom: 2rem;
  width: 70%;
  font-size: 23px;
  border-radius: 8px;
  border: 1px solid gray;
}

.register-form .register-form-btn {
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 19px;
  font-size: 23px;
  padding: 4px 20px 8px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.register-form .register-form-paragraph {
  font-size: 19px;
}

.passwords-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.input-error {
  background-color: rgb(255, 167, 167);
  color: black;
}
