<ng-container *ngIf="!!myGames">
<h2 class="my-games-page-heading">My Games</h2>
<section  class="my-games-section">
    <div class="my-game-card" *ngFor="let game of myGames">
        <div class="img-wrapper">
            <img src={{game.imgURL}} class="game-card-img">
        </div>
        <p class="my-game-card-name">{{game.title}}</p>
        <span class="my-game-card-price">Price: $ {{game.price}}</span>
        <a [routerLink]="['/games/details', game.objectId]" class="my-game-card-details-link">Details</a>
    </div>
</section>    
</ng-container>

<div *ngIf="myGames && myGames.length == 0">
    <p class="not-found-paragraph">No games created! Let's create some <a routerLink="/games/add">Add game</a></p>
</div>

<div class="spinner" *ngIf="!myGames">
    <p><mat-spinner></mat-spinner>
    </p>
</div>