<header>
    <a routerLink="/home" class="logo-wrapper"><img src="assets/images/ic_launcher.png"></a>
    <nav>
        <ul class="nav-list">
            <li class="nav-list-item"><a routerLink="/games" class="nav-list-item-link">Games</a></li>
            <li *ngIf="(isLogged$ | async)" class="nav-list-item"><a routerLink="/my-games" class="nav-list-item-link">MyGames</a></li>
            <li *ngIf="(isLogged$ | async)" class="nav-list-item"><a routerLink="/add" class="nav-list-item-link">Create</a></li>
            <li  class="nav-list-item"><a routerLink="/contacts" class="nav-list-item-link">Contacts</a></li>
            <li *ngIf="!(isLogged$ | async)" class="nav-list-item"><a routerLink="/login" class="nav-list-item-link">Login</a></li>
            <li *ngIf="!(isLogged$ | async)" class="nav-list-item"><a routerLink="/register" class="nav-list-item-link">Register</a></li>
            <li *ngIf="(isLogged$ | async)" class="nav-list-item"><a (click)="handleLogOut()" href="javascript:void(0)" class="nav-list-item-link">Logout</a></li>
        </ul>
    </nav>
</header>