<h2 class="create-page-heading">Create Game</h2>
    <form class="create-form" action="">
        <input class="create-form-imageUrl" type="text" name="imageUrl" placeholder="ImageUrl">
        <input class="create-form-title" type="text" name="title" placeholder="Title">
        <input class="create-form-description" type="text" name="description" placeholder="Description">
        <input class="create-form-price" type="text" name="price" placeholder="Price">
        <button class="create-form-btn">Create</button>
    </form>