<form class="searchbar-form" (ngSubmit)="handleSearch()">
    <input type="text" [formControl]="search" name="search" id="search" placeholder="Search a game">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<section  class="games-section" *ngIf="!!gamesToShow">
    <div class="game-card" *ngFor="let game of gamesToShow">
        <div class="img-wrapper">
            <img src={{game.imgURL}} class="game-card-img">
        </div>
        <p class="game-card-name">{{game.title}}</p>
        <span class="game-card-price">Price: $ {{game.price}}</span>
        <a [routerLink]="['/games/details', game.objectId]" class="game-card-details-link">Details</a>
    </div>
</section>

<div *ngIf="gamesToShow && gamesToShow.length == 0">
    <p>Not Found!</p>
</div>


<div *ngIf="!gamesToShow">
    <p>Loading &hellip;</p>
</div>