<form class="searchbar-form" action="">
    <input type="text" name="search" id="search" placeholder="Search a game">
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<section  class="games-section" *ngIf="!!games">
    <div class="game-card" *ngFor="let game of games">
        <div class="img-wrapper">
            <img src={{game.imgURL}} class="game-card-img">
        </div>
        <p class="game-card-name">{{game.title}}</p>
        <span class="game-card-price">{{game.price}}</span>
        <a [routerLink]="['/games/details', game.objectId]" class="game-card-details-link">Details</a>
    </div>
</section>

<div *ngIf="!games">
    <p>Loading &hellip;</p>
</div>
