<h2 class="edit-page-heading">Edit [game.title]</h2>
    <form class="edit-form" action="">
        <input class="edit-form-imageUrl" type="text" name="imageUrl" placeholder="ImageUrl">
        <input class="edit-form-title" type="text" name="title" placeholder="Title">
        <input class="edit-form-description" type="text" name="description" placeholder="Description">
        <input class="edit-form-price" type="text" name="price" placeholder="Price">
        <button class="edit-form-btn">Edit</button>
    </form>